    /*----general----*/

    /*--fonts--*/

    @font-face {
        font-family: "Chalk";
        src: url("../fonts/KGNoRegretsSketch.ttf");
    }

    @font-face {
        font-family: "Charline";
        src: url("../fonts/Charline font.otf");
    }

    /*--convenient and quick positioning classes--*/

    .absolute {
        position: absolute;
        z-index: 100;
    }

    .relative {
        position: relative;
    }

    /*--convenient class to cancel any and all padding--*/

    .cancel {
        padding: 0;
    }

    /*--link behavior--*/

    a:link {
        color: pink;
    }

    a:visited {
        color: pink;
    }

    a:hover {
        text-decoration: none;
    }

    /*--all images take up full width of its container--*/

    img {
        width: 100%;
    }

    /*---hide non-mobile elements/design/layout---*/

    /*--hide tablet design/layout/elements--*/

    /*-hide tablet version of banner image-*/

    #tabletbanner {
        display: none;
    }

    /*-hide tablet version of reviews banner-*/

    #tabletbanner2 {
        display: none;
    }

    /*-hide tablet version of service section-*/

    /*-hide tablet version of service images-*/

    .tabletthumb {
        display: none;
    }

    /*-hide tablet version of service captions-*/

    .tabletsubserv {
        display: none;
    }

    /*--hide laptop design/layout/elements--*/

    /*-hide laptop version of navigation-*/

    .lap-nav {
        display: none;
    }

    /*-hide laptop version of service submenu-*/

    .servhover {
        display: none;
    }

    /*-hide laptop version of main content-*/

    .laptopmain {
        display: none;
    }

    /*-hide laptop version of services section-*/

    .laptopthumb {
        display: none;
    }

    .laptopsubserv {
        display: none;
    }


    /*----mobile/default website----*/

    /*----nav - mobile and tablet----*/

    .nav {
        padding: 2% 5% 0% 5%;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 200;
        opacity: 0.9;
        height: 13vw;
    }

    /*--overhang--*/

    /*-hamburger-*/

    .hamburgerline {
        background-color: pink;
        margin: 1.3vw 0;
        height: 1vw;
        width: 100%;
        border-radius: 40%;
    }

    .hamburger {
        width: 7%;
        padding-top: 1%;
    }

    /*-everything else in overhang-*/

    .overhang {
        color: pink;
        font-family: "Chalk";
        font-size: 5vw;
        justify-self: end;
        padding-top: 1.5%;
    }

    /*----menu----*/

    #menu {
        width: 100%;
        background-color: white;
        position: fixed;
        opacity: 0.9;
        z-index: 300;
        top: 13vw;
    }

    .menu-item {
        color: pink;
        font-family: "Charline";
        padding: 5vw 7vw;
        height: 12.5vw;
        padding-right: 0vw;
    }

    /*--menu animations--*/

    /*-slide menu down-*/

    @keyframes slide {
        from {
            height: 0vw;
        }
        to {
            height: 70vw;
        }
    }

    /*-slide menu up-*/

    @keyframes slideup {
        from {
            height: 70vw;
        }
        to {
            height: 0vw;
        }
    }

    /*--menu animation classes--*/

    /*-slide menu up-*/

    .slideup {
        animation-name: slideup;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;
        padding-top: none;
    }

    /*-slide menu down-*/

    .slidedown {
        height: 75vw;
        animation-name: slide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }

    /*----submenu----*/

    /*--design of down arrow to open services submenu--*/

    .down-arrow {
        border: solid pink;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        text-align: right;
    }

    /*--submenu/submenu design--*/

    ul {
        list-style: none;
        margin-bottom: 0vw;
    }

    li {
        color: pink;
        font-family: "Charline";
        font-size: 4vw;
        padding: 2vw;
    }

    /*--submenu animations--*/

    /*-expand menu for submenu/to open submenu-*/

    @keyframes slidesub {
        from {
            height: 70vw;
        }
        to {
            height: 137vw;
        }
    }

    /*-contract/compress menu to close submenu but display menu-*/

    @keyframes slidesubup {
        from {
            height: 137vw;
        }
        to {
            height: 70vw;
        }
    }

    /*-close both menu and submenu all together-*/

    @keyframes slideallup {
        from {
            height: 137vw;
        }
        to {
            height: 0vw;
        }
    }

    /*-class to hide submenu-*/

    .submenu-collapse {
        display: none;
    }

    /*--submenu animation classes--*/

    /*-expand menu to open submenu-*/

    .slidesub {
        animation-name: slidesub;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }

    /*-collapse submenu to return to regular menu-*/

    .slidesubup {
        animation-name: slidesubup;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }

    /*-close both menu and submenu all together-*/

    .slideallup {
        height: 137vw;
        animation-name: slideallup;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }

    /*----banner----*/

    /*--banner text--*/

    .top {
        font-size: 15vw;
        font-family: "Chalk";
        color: white;
        top: 30%;
        text-align: center;
        width: 100%;
        font-weight: 100;
    }

    /*--banner image--*/

    #banner {
        width: 100%;
        height: auto;
    }

    /*----main content----*/

    /*-main heading/title-*/

    .title {
        align-self: end;
        font-size: 20vw;
        font-weight: 500;
        margin-top: 15%;
        margin-bottom: 15%;
        padding-left: 15%;
        padding-right: 15%;
        font-family: "Chalk";
    }

    /*-main subtitle-*/

    .sub {
        align-self: start;
        text-align: center;
        font-size: 12vw;
        font-weight: 500;
        margin-bottom: 15%;
        padding-left: 15%;
        padding-right: 15%;
        font-family: "Charline";
    }

    /*-main content text-*/

    .blurb {
        color: gray;
        line-height: 2.5;
        font-size: 4.5vw;
        padding-right: 15%;
        padding-left: 15%;
    }

    /*-last text of main content text-*/

    .blurb2 {
        margin-bottom: 15%;
    }

    /*----reviews----*/

    .review {
        color: pink;
        font-size: 13vw;
        font-family: "Helvetica";
        animation-name: fade;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        display: none;
        opacity: 0;
        text-align: center;
        width: 100%;
        top: 35%;
        bottom: auto;
        padding: 0% 15%;
    }

    /*--review animation--*/

    @keyframes fade {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }

    /*--reviews image--*/

    #banner2 {
        width: 100%;
        height: auto;
    }

    /*----service section----*/

    /*--service header--*/

    .service {
        font-family: "Chalk";
        font-size: 20vw;
        color: pink;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    /*--service image container--*/

    .servimg {
        padding-left: 15%;
        padding-right: 15%;
    }

    /*--service image--*/

    .thumb {
        border-radius: 50%;
        height: 75vw;
    }

    /*--service caption container--*/

    .subserv2 {
        margin: 10vw 0vw 15vw 0vw;
    }

    /*--service caption--*/

    .subserv {
        font-family: "Charline";
        font-size: 10vw;
        text-align: center;
        margin-bottom: 15%;
        padding-top: 11%;
        color: pink;
    }

    /*----adjustments/changes for tablet website----*/

    @media only screen and (min-width: 425px) {

        /*----general----*/
        /*--hide mobile/default design/layout/elements--*/
        /*-hide mobile banner image-*/
        #banner {
            display: none;
        }

        /*-hide review banner image-*/
        #banner2 {
            display: none;
        }

        /*-hide service section-*/
        #servicesection {
            display: none;
        }

        /*--show tablet design/layout/elements--*/
        /*-show tablet banner image-*/
        #tabletbanner {
            display: block;
        }

        /*-show tablet review banner-*/
        #tabletbanner2 {
            display: block;
        }

        /*-show tablet services section-*/
        /*-show tablet service images-*/
        .tabletthumb {
            display: flex;
        }

        /*-show tablet service captions-*/
        .tabletsubserv {
            display: flex;
        }

        /*----tablet menu----*/
        /*--adjust menu animations--*/

    /*-slide menu down-*/

    @keyframes slide {
        from {
            height: 0vw;
        }
        to {
            height: 45vw;
        }
    }

    /*-slide menu up-*/

    @keyframes slideup {
        from {
            height: 45vw;
        }
        to {
            height: 0vw;
        }
    }

        /*--adjust height of open menu--*/
        .slidedown {
            height: 45vw;
        }

        /*--adjust padding and height of menu-items-*/
        .menu-item {
            padding: 1vw 7vw;
            height: 8.5vw;
            padding-right: 0vw;
        }

        /*---tablet submenu---*/

    /*--adjust submenu animations--*/

    /*-expand menu for submenu/to open submenu-*/

    @keyframes slidesub {
        from {
            height: 45vw;
        }
        to {
            height: 100vw;
        }
    }

    /*-contract/compress menu to close submenu but display menu-*/

    @keyframes slidesubup {
        from {
            height: 100vw;
        }
        to {
            height: 45vw;
        }
    }

    /*-close both menu and submenu all together-*/

    @keyframes slideallup {
        from {
            height: 100vw;
        }
        to {
            height: 0vw;
        }
    }

        /*--adjust submenu margin--*/

        .mobilesub {
            margin-bottom: 3.5vw;
        }

        /*--adjust font size of submenu items--*/
        li {
            font-size: 2.5vw;
        }

        /*----banner----*/
        /*--adjust the position of both text and image to accomodate tablet nav bar--*/
        .banner3 {
            top: 13vw;
        }

        /*--adjust the position and font-size of the banner text--*/
        .top {
            display: none;
        }

        /*----main----*/
        /*--adjust font size, margins, font family, and padding of title--*/
        .title {
            text-align: center;
            font-size: 4vw;
            margin-top: 25%;
            margin-bottom: 0%;
            padding-left: 0%;
            padding-right: 0%;
            font-family: "Helvetica";
        }

        /*-adjust font size, font family, and margin of subtitle-*/
        .sub {
            font-size: 3vw;
            margin-bottom: 2.5%;
            font-family: "Helvetica";
        }

        /*-adjust alignment, font size, and padding of main text-*/
        .blurb {
            text-align: center;
            font-size: 2vw;
            padding: 0vw 10vw;
        }

        /*-adjust margin of last text of main text-*/
        .blurb2 {
            margin-bottom: 10%;
        }

        /*----adjust font size and position of reviews----*/
        .review {
            font-size: 5vw;
            top: 45%;
        }

        /*----service section----*/
        /*--adjust font size and margins of service heading--*/
        .service {
            font-size: 5vw;
            margin-top: 10%;
            margin-bottom: 10%;
        }

        /*--adjust padding of service image container--*/
        .servimg {
            padding-left: 0%;
            padding-right: 0%;
        }

        /*--adjust height, width, and margin of service image--*/
        .thumb {
            height: 25vw;
            width: 25vw;
            margin-bottom: 5vw;
            ;
        }

        /*--adjust tablet service caption container margin--*/
        .tabletsubserv {
            margin-bottom: 10vw;
        }

        /*-adjust service caption font size-*/
        .subserv {
            font-size: 4.3vw;
        }

    }

    /*----adjustments/changes for laptop website----*/

    @media only screen and (min-width: 768px) {

        /*----general----*/
        /*---hide mobile/tablet elements---*/
        /*--hide mobile/tablet nav bar--*/
        .nav {
            display: none;
        }

        /*-hide hamburger-*/
        .hamburger {
            display: none;
        }

        .hamburgerline {
            display: none;
        }

        /*-hide overhang-*/
        .overhang {
            display: none;
        }

        /*--hide menu--*/
        .menu {
            display: none;
        }

        .menu-item {
            display: none;
        }

        /*-hide menu animation classes-*/
        .slideup {
            display: none;
        }

        .slidedown {
            display: none;
        }

        /*--hide submenu--*/
        .mobilesub {
            display: none;
        }
        /*-hide submenu animation classes-*/
        .slidesub {
            display: none;
        }

        /*--hide main content--*/
        .defaultmain {
            display: none;
        }

        #servicesection {
            display: none;
        }

        .tabletsubserv {
            display: none;
        }

        .tabletthumb {
            display: none;
        }

        /*---reveal/show laptop elements---*/
        /*--show laptop navigation--*/
        .lap-nav {
            display: flex;
            padding: 1.5%;
            color: pink;
            white-space: nowrap;
        }

        /*--show laptop banner text (adjust font size and position)--*/
        .top {
            display: block;
            font-size: 7vw;
            top: 34%;
        }

        /*--show laptop main content--*/
        .laptopmain {
            display: flex;
        }

        /*--show laptop service images--*/
        .laptopthumb {
            display: flex;
        }

        /*--show laptop service captions--*/
        .laptopsubserv {
            display: flex;
            text-align: center;
        }



        /*----nav----*/
        .nav-item {
            text-align: center;
            font-size: 1.1vw;
        }

        /*---service submenu---*/
        .servhover {
            top: 1.5vw;
            background-color: white;
            opacity: 0.9;
            z-index: 500;
            padding-top: 1.5vw;
            border-radius: 5%;
        }

        .laptopsub {
            padding-left: 0vw;
        }

        /*--submenu items--*/
        .laptopitem {
            font-size: 1vw;
            z-index: 500;
            padding: 1vw;
            text-align: left;
        }

        /*--submenu hover properties--*/
        /*-show submenu when hovering over Services link/tab-*/
        .servlink:hover .servhover {
            display: block;

        }

        /*-show submenu when hovering over services submenu-*/
        .servhover:hover {
            display: block;
        }

        /*----banner----*/
        /*--readjust position of banner text and banner image--*/
        .banner3 {
            top: 0vw;
        }

        /*----main----*/
        /*--readjust font-size , padding, and margin of main content text--*/
        /*--adjust font size and margin of main title/heading--*/
        .title {
            font-size: 2.8vw;
            margin-top: 11%;
        }

        /*--adjust font size of subtitle--*/
        .sub {
            font-size: 2vw;
        }

        /*--adjust font size and padding of main text--*/
        .blurb {
            font-size: 1.13vw;
            padding-right: 0%;
            padding-left: 0%;
        }

        /*----adjust font size of reviews----*/
        .review {
            font-size: 3.55vw;
        }

        /*--review banner--*/
        #banner2 {
            width: 100%;
            height: auto;
        }

        /*----services section----*/
        /*--adjust font size and margin of service heading--*/
        .service {
            font-size: 3.55vw;
            margin-top: 6.7%;
            margin-bottom: 6.7%;
        }

        /*--adjust height of service image--*/

        .thumb {
            height: 15vw;
        }

        /*--adjust margin of service caption container--*/
        .laptopsubserv {
            margin-bottom: 10vw;
        }

        /*--adjust font size and margin of service caption--*/
        .subserv {
            font-size: 2.3vw;
            margin-bottom: 10vw;
        }
    }